/initial_cache.cmake~
/initial_cache.cmake.user
# Ignore the user-specific initial_cache file
initial_cache.cmake

# Ignore Eclipse project files
.project
.cproject

# Debug/Release directories
Debug/
Release/

