tracking
{
	pyramid ; global pyramid that is used by derived pyramids (in case there is more than one pyramid)
	{
		scaleFactor 0.9
		patch
		{
			; the following widths and height are used for determining the min and max scale factor only
			; the actual min and max widths will vary depending on the actual patch size of the derived pyramids
			width 20
			height 20
			minWidth 20
			maxWidth 400
		}
	}
	transition opticalFlow ; simple | opticalFlow
	{
		positionScatter 0.02 ; for simple
		velocityScatter 0.1 ; for simple
		scatter 0.02 ; for opticalFlow
		fallback simple ; for opticalFlow
		{
			positionScatter 0.02 ; for simple
			velocityScatter 0.05 ; for simple
		}
	}
	initial manual ; automatic | manual | groundtruth - only automatic needs the additional parameters
	{
		resampling
		{
			particleCount 800
			randomRate 0.35
			minSize 80
			maxSize 400
		}
		measurement
		{
			classifier
			{
				classifierFile /home/poschmann/projects/ffd/config/fdetection/WRVM/fd_web/fnf-hq64-wvm_big-outnew02-hq64SVM/fd_hq64-fnf_wvm_r0.04_c1_o8x8_n14l20t10_hcthr0.72-0.27,0.36-0.14--With-outnew02-HQ64SVM.mat
				thresholdsFile /home/poschmann/projects/ffd/config/fdetection/WRVM/fd_web/fnf-hq64-wvm_big-outnew02-hq64SVM/fd_hq64-fnf_wvm_r0.04_c1_o8x8_n14l20t10_hcthr0.72-0.27,0.36-0.14--ts107742-hq64_thres_0.0001--with-outnew02HQ64SVM.mat
			}
			pyramid derived ; direct | derived - derived uses the global pyramid as a base, direct creates an independent pyramid
			{
				scaleFactor 0.9
				patch
				{
					width 20
					height 20
					minWidth 80
					maxWidth 400
				}
			}
		}
	}
	adaptive
	{
		resampling
		{
			particleCount 800
			randomRate 0.3
			minSize 20
			maxSize 400
		}
		feature haar ; histeq | whi | haar | hog | ihog | ehog | surf | lbp | glbp
		{
			sizes "0.2 0.4" ; for haar
			gridRows 7 ; for haar
			gridCols 7 ; for haar
			types "2rect 3rect" ; for haar - 2rect 3rect 4rect center-surround all
			scale 1
			blurKernel 0 ; for hog, ehog, glbp
			gradientKernel 1 ; for hog, ehog, glbp
			signed true ; for ehog, ihog, hog
			bins 18 ; for ehog, ihog, hog
			gradientCount 30 ; for ihog, surf
			cellCount 6 ; for surf
			type lbp8 ; for lbp, glbp - lbp8 | lbp8uniform | lbp4 | lbp4rotated
			histogram spatial ; for hog, ehog, lbp, glbp - spatial | pyramid
			{
				cellSize 6 ; for spatial | ehog
				blockSize 2 ; for spatial
				interpolation false ; for spatial | ehog
				combine false ; for spatial
				signedAndUnsigned true ; for ehog
				alpha 0.2 ; for ehog
				level 2 ; for pyramid
				normalization l2norm ; none | l2norm | l2hys | l1norm | l1sqrt
			}
			pyramid direct ; direct | derived - derived uses the global pyramid as a base, direct creates an independent pyramid
			{
				scaleFactor 0.9
				patch
				{
					width 30
					height 30
					minWidth 30
					maxWidth 480
				}
			}
		}
		measurement positionDependent ; positionDependent | selfLearning
		{
			startFrameCount 3 ; for positionDependent
			stopFrameCount 0 ; for positionDependent
			targetThreshold 0.75 ; for positionDependent
			confidenceThreshold 0.95 ; for positionDependent
			positiveOffsetFactor 0.0 ; for positionDependent
			negativeOffsetFactor 0.3 ; for positionDependent
			sampleNegativesAroundTarget 0 ; for positionDependent
			sampleFalsePositives true ; for positionDependent
			randomNegatives 10 ; for positionDependent
			exploitSymmetry false ; for positionDependent
			positiveThreshold 0.85 ; for selfLearning
			negativeThreshold 0.05 ; for selfLearning
			classifier
			{
				kernel rbf ; rbf | poly | hik | linear
				{
					;gamma 7.689e-7 ; for rbf + features between 0 and 255
					;gamma 0.05; for rbf + features between 0 and 1
					gamma 0.1; for rbf + haar
					;gamma 0.2; for rbf + hog
					;gamma 0.6; for rbf + glbp + spatial + cellSize 5
					;gamma 3.4; for rbf + glbp + spatial + cellSize 7
					;gamma 3; for rbf + glbp + pyramid + level 2
					;gamma 0.002 ; for rbf + whi features
					alpha 0.05 ; for poly
					constant 0 ; for poly
					degree 2 ; for poly
				}
				training fixedsize ; fixedsize | framebased
				{
					constraintsViolationCosts 1 ; for all
					positiveExamples 10 ; for fixedsize
					negativeExamples 50 ; for fixedsize
					minPositiveExamples 3 ; for fixedsize
					frameLength 5 ; for framebased
					minAvgSamples 4 ; for framebased
					staticNegatives false
					{
						filename /home/poschmann/projects/ffd/config/nonfaces_1000
						amount 200
						scale 1
					}
				}
				probabilistic fixed ; default | fixed
			}
		}
	}
}
