test sampleBobotTest
{
	file /path/to/video.avi
	bobot /path/to/ground-truth.txt
}
test sampleSimpleTest
{
	directory /path/to/images
	simple /path/to/ground-truth.txt
}

template
{
test name ; give it a recognizable name
{
	; video data can be given as a directory of images or a video file (use just one of the variants below)
	directory /path/to/images
	file /path/to/video.avi
	; ground truth can be given in two different formats: simple or bobot (use just one of the variants below)
	simple /path/to/ground-truth.txt
	bobot /path/to/ground-truth.txt
}
}

